<!-- timecard_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload TimeCard</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <h1>Upload TimeCard</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="store">Store</label>
        <select name="store" id="store" required>
            <option value="">--Select Store--</option>
            <option value="RDS">RDS</option>
            <option value="LEE">LEE</option>
            <option value="EVER">EVER</option>
            <option value="FISHERMALL">FISHERMALL</option>
        </select>
        

        
        {{ form.as_p }}  <!-- Corrected here to render the form as paragraphs -->
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
